*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    position: relative;
    margin: 0;
    padding: 0;

    border: 0 none;

    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    transition: all ease .4s;
}

html,
body {
    width: 100%;
    height: 100%;

    /*background: RGBA(0, 58, 97, 1);*/

    font-family: 'Fjalla One', sans-serif;
    font-size: 12px;
}

/* Cards paragraph style */
.cards-paragraph-style {
    font-size: 14px;
    color: black
}

/*h1 {*/
/*    padding-top: 40px;*/

/*    color: #000000;*/
/*    text-align: center;*/
/*    font-size: 1.8rem;*/

/*    text-shadow: rgba(0,0,0,0.6) 1px 0, rgba(0,0,0,0.6) 1px 0, rgba(0,0,0,0.6) 0 1px, rgba(0,0,0,0.6) 0 1px;*/
/*}*/

.expandable-section {
    cursor: pointer;
}

.expandable-content {
    display: none;
}

.content {
    /*display: none;*/
    display: inline-block;
    /*visibility: hidden;*/
}

h1 {
    padding-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; /* You can specify different font weights as needed */
    color: #000000;
    font-size: 20px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* You can specify different font weights as needed */
    color: #000000;
    font-size: 16px;
}
h3 {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; /* You can specify different font weights as needed */
    color: #000000;
    font-size: 14px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}

.subscript {
    font-size: 70%; /* Adjust the size as needed */
    vertical-align: sub;
    display: inline
}

.trigger-link {
    /*nothing to see here*/
    display: inline;
    color: #E76485; /* Change text color to your desired color */
    text-decoration: underline;
    cursor: pointer;
}

.left-aligned-text {
    display : inline-block;
    text-align: left; /* Left-align the content inside this wrapper */
    font-size: 14px;
}

.right-aligned-text {
    display : block;
    text-align: left; /* Left-align the content inside this wrapper */
    font-size: 10px;
}

.expandable-section {
    cursor: pointer;
    display: block;
}

.expandable-content {
    display: none;
}

.popup-element {
    position: fixed;
    top: 50%;
    left: 30%;
    max-width: 40vw;
    transform: translate(-50%, -50%);
    /* Other styling properties */
    display: block;
    visibility: hidden;
    background-color: #fff;
    border: 10px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    width: 30px; /* Increase the clickable width */
    height: 30px; /* Increase the clickable height */
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    z-index: 999;
}

/*.transparent-50 {*/
/*    opacity: 100;*/
/*}*/
/*.transparent-0 {*/
/*    opacity: 0;*/
/*}*/


.container {
    display: flex;
    flex-direction: column; /* Ensure elements are stacked vertically */
    align-items: center; /* Center content horizontally */
}

.preamblecontainer{
    margin: 5vh 5vw 5vh 2vw; /* Margin values (top right bottom left) as percentages */
    flex : 1 ;
    /*width: 97.5vw; */
    /*height: 97.5vw;*/
    background-color: whitesmoke;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    text-align: left; /* Center text horizontally */
    line-height: 1.5; /* Increase line spacing to 1.5 times the font size */
}



.toprectanglecard {
    background-color: whitesmoke;
    border: 2px solid #E76485; /* Border properties */
    padding: 10px; /* Optional padding for spacing */
    border-radius: 15px; /* Adjust the value to control the roundness of the corners */
    margin-bottom: 40px; /* Adjust the margin value to control the gap between stacked elements */
    /* This code is for the animated appearance of the hidden text elements*/
    /*display : none;*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

}

.rectanglecard {
    /*width: 30vw; !* Set the width and height to make it a circle *!*/
    /*height: 7.5vw;*/
    /*width: 400px; !* Set the width and height to make it a circle *!*/
    /*height: 100px;*/
    /*position: absolute;*/
    background-color: whitesmoke;
    border: 2px solid #E76485; /* Border properties */
    padding: 10px; /* Optional padding for spacing */
    border-radius: 15px; /* Adjust the value to control the roundness of the corners */
    margin-bottom: 40px; /* Adjust the margin value to control the gap between stacked elements */
    display: none;

    /* This code is for the animated appearance of the hidden text elements*/
    /*display : none;*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    /*top: 0; !* Initial top position *!*/
    /*left: 100%; !* Start off-screen to the right *!*/
    /*opacity: 0; !* Initially hidden *!*/
    /*transition: left 0.3s ease, opacity 0.3s ease;*/

    /*padding: 20px; !* Adjust the padding as needed *!*/
    /*margin: 0; !* Reset margin to zero *!*/
    /*display: flex; !* Use flexbox *!*/

    /*!*justify-content: center; !* Center content horizontally *!*!*/
    /*!*align-items: center; !* Center content vertically *!*!*/
    /*border: 2px solid #E76485; !* Add border color and width *!*/
}

/*Stuff from my old file ends here. Stuff from https://codepen.io/joellesenne/pen/KKzVMW starts below*/

.split-container{
    display: flex;
    align-items: stretch;
    max-width: 100vw;
    overflow: auto; /* Enable scrolling if content overflows */
}

.hidden-text-container {
    margin: 5vh 5vw 0vh 2vw; /* Margin values (top right bottom left) as percentages */
    flex: 1; /* Takes up 50% of the container width */
    padding: 0px; /* Add some padding for spacing */
    background-color: #ffffff; /* Optional background color */
    text-align: center; /* Center text horizontally */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40vw;
    /*overflow: auto; !* Enable horizontal scrolling if needed *!*/
}

.nav-container {
    margin: 0vh 1vw 0vh 2vw; /* Margin values (top right bottom left) as percentages */
    flex: 1; /* Takes up 50% of the container width */
    padding: 5px; /* Add some padding for spacing */
    background-color: #f0f0f0; /* Optional background color */
    /*align-items: center; !* Center content vertically *!*/
    display: flex;

    /*overflow: auto; !* Enable scrolling if content overflows *!*/
    max-width: 60vw;
}

.nav {
    margin: 1px auto; /* This seems to affect the position of the entire flowchart on the screen */
    width: 80vw;
    min-height: auto;
    display: flex;
    justify-content: center ; /* Center content horizontally */
}

.nav ul {
    position: relative;
    padding-top: 60px; /* This affects the vertical distribution of the flowchart */
}

.nav li {
    position: relative;
    padding: 20px 3px 10px 3px; /* This affects the horizontal distribution of the flowchart */
    /*padding: 20px 3px 0 3px;*/
    float: left;
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.nav li::before, .nav li::after{
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    width: 50%;
    height: 15px; /* This seems to alter the size of the bit that connects after the bend in the flowchart to the top of the next bubble */
    border-top: 1px solid #564e4f;
}

.nav li::after{
    left: 50%;
    right: auto;

    border-left: 1px solid #564e4f;
}

.nav li:only-child::after, .nav li:only-child::before {
    content: '';
    display: none;
}

.nav li:only-child{ padding-top: 0;}
.nav li:first-child::before, .nav li:last-child::after{
    border: 0 none;
}

.nav li:last-child::before{
    border-right: 1px solid #564e4f;
    border-radius: 0 5px 0 0;
}

.nav li:first-child::after{
    border-radius: 5px 0 0 0;
}
.nav ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #564e4f;
    width: 0;
    height: 10px; /* this changes the straight line between elements */
}

.nav li a{
    display: inline-block;
    padding: 5px 10px;

    border-radius: 5px;
    /*border: 1px solid #cccccc;*/
    border: 2px solid #E76485; /* Add border color and width */

    outline: 2px solid #f0f0f0;     /* Add an outline for the second border */
    outline-offset: 2px;     /* Increase the gap between outline and border */

    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-family: arial, verdana, tahoma;
    font-size: 14px;
}

/* Default transparency for second-tier li elements */
.nav ul li ul li {
    /*display : none;*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav ul li ul li ul li {
    /*display : none;*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/*.nav ul li ul li ul li.display {*/
/*    display : block;*/
/*}*/

/* Add a class to control transparency */
.nav ul li ul li.transparent {
    opacity: 1;
}

.rectanglecard.transparent {
    opacity: 1;
}

/*.nav li a:hover, .nav li a:hover+ul li a {*/
/*    color: #000;*/
/*    background: #c8e4f8;*/
/*    border: 1px solid #94a0b4;*/
/*}*/

/*.nav li a:hover+ul li::after,*/
/*.nav li a:hover+ul li::before,*/
/*.nav li a:hover+ul::before,*/
/*.nav li a:hover+ul ul::before{*/
/*    content: '';*/
/*    border-color: #d400ff;*/
/*}*/